.desktop-menu {
    display: none;
  }
  
  @media (min-width: 768px) {
    .desktop-menu {
      display: block;
    }
  }
  
  .mobile-toolbar {
    display: block;
  }
  
  @media (min-width: 768px) {
    .mobile-toolbar {
      display: none;
    }
  }
  
  .menu-toolbar {
    background-color: #3949ab;
    color: white;
  }
  
  .users-button {
    margin-left: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .logo-container {
    display: flex;
    align-items:center;
  }
  
  .logo-container img {
    width: 200px; 
    height: 90px; 
    
    
  }
  
  