<form (ngSubmit)="crearUsuario()" enctype="multipart/form-data" method="post">
    <div class="file-input-container">
      <input type="file" id="fileInputActaEntrega" (change)="onFileChange($event, 'archivoActaEntrega')" accept=".pdf,.doc,.docx">
      <label for="fileInputActaEntrega" class="file-input-label">
        <span class="file-input-text">{{ selectedFileNameActaEntrega || 'Seleccionar archivo Acta de Entrega' }}</span>
      </label>
    </div>
    
    <div class="file-input-container">
      <input type="file" id="fileInputFormatoActivo" (change)="onFileChange($event, 'archivoFormatoActivo')" accept=".pdf,.doc,.docx">
      <label for="fileInputFormatoActivo" class="file-input-label">
        <span class="file-input-text">{{ selectedFileNameFormatoActivo || 'Seleccionar archivo Formato Activo' }}</span>
      </label>
    </div>
  
    <mat-form-field>
      <input matInput placeholder="Serial" [(ngModel)]="usuario.equipoSoftware!.serial" name="serial">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombre de equipo" [(ngModel)]="usuario.equipoSoftware!.nombreEquipo" name="nombreEquipo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CenCos" [(ngModel)]="usuario.cenCos" name="cenCos">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Grupo/Area pertenece" [(ngModel)]="usuario.grupoAreaPertence" name="grupoAreaPertenece">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Usuario responsable" [(ngModel)]="usuario.nombre" name="usuarioResp">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Documento" [(ngModel)]="usuario.documento" name="documento">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cargo" [(ngModel)]="usuario.cargo" name="cargo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fecha de asignación" [(ngModel)]="usuario.fechaAsignacion" name="fechaAsignacion">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fecha de compra" [(ngModel)]="usuario.fechaCompra" name="fechaCompra">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Activo" [(ngModel)]="usuario.equipoSoftware!.activo" name="activo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Marca" [(ngModel)]="usuario.equipoHadware!.marca" name="marca">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Modelo" [(ngModel)]="usuario.equipoHadware!.modelo" name="modelo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tipo" [(ngModel)]="usuario.equipoHadware!.tipo" name="tipo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sistema operativo" [(ngModel)]="usuario.equipoHadware!.procesador" name="sisOper">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Licencia" [(ngModel)]="usuario.equipoSoftware!.licencia" name="licencia">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Procesador" [(ngModel)]="usuario.equipoHadware!.procesador" name="procesador">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Frecuencia" [(ngModel)]="usuario.equipoHadware!.frecuencia" name="frecuencia">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Memoria RAM" [(ngModel)]="usuario.equipoHadware!.memRar" name="memRar">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Capacidad" [(ngModel)]="usuario.equipoHadware!.capacidad" name="capacidad">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Disco Duro" [(ngModel)]="usuario.equipoHadware!.discDuros" name="discDur">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tipo" [(ngModel)]="usuario.equipoHadware!.tipo2" name="tipo2">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Marca Monitor" [(ngModel)]="usuario.equipoHadware!.marcaMonitor" name="monMar">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tamaño" [(ngModel)]="usuario.equipoHadware!.tamanio" name="tamanio">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Modelo3" [(ngModel)]="usuario.equipoHadware!.modelo3" name="modelo3">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Serial4" [(ngModel)]="usuario.equipoHadware!.serial4" name="serial4">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Activo5" [(ngModel)]="usuario.equipoHadware!.activo5" name="activo5">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Marca Teclado" [(ngModel)]="usuario.equipoHadware!.marcaTeclado" name="tecMarca">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Serial6" [(ngModel)]="usuario.equipoHadware!.serial6" name="serial6">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Marca Mouse" [(ngModel)]="usuario.equipoHadware!.marcaMouse" name="mousMarc">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Serial7" [(ngModel)]="usuario.equipoHadware!.serial7" name="serial7">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Marca Cargador" [(ngModel)]="usuario.equipoHadware!.marcaCargador" name="cargMarc">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Serial8" [(ngModel)]="usuario.equipoHadware!.serial8" name="serial8">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Mac Adaptador Inalámbrico" [(ngModel)]="usuario.equipoHadware!.macAdapInaWifi" name="macAdpInal">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Mac Adaptador Ethernet" [(ngModel)]="usuario.equipoHadware!.macAdapEthernet" name="macAdEth">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dominio/Grupo" [(ngModel)]="usuario.equipoSoftware!.dominioGrupo" name="dominioGrupo">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Observaciones" [(ngModel)]="usuario.observacion" name="observaciones"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Estado" [(ngModel)]="usuario.estado" name="estado">
    </mat-form-field>
  
    <button type="submit">Guardar usuario</button>
  </form>
  